
.detail-items{
    width:initial;
}
.detail-items li{
    display:flex;
    justify-content:space-around;
}
.about-list{
    align-items: center;
}
.detail-items{
    margin:var(--margin-primary);
    display: grid;
    grid-template-columns: auto   ;
    width:inline;
}