.body-links {
    display: flex;
    justify-content: space-between;
    
    
    
}
.content-details{
    padding:calc(var(--padding-primary)/4) ;
    background-color: var(--color-light);
    
}
.pokemon-sec-up{
    padding:var(--padding-primary);
    padding-bottom: 300px;
    border: 1px solid red;
    height: fit-content;
    position: relative;
}

.set-of-links{
    border-top-right-radius: var(--border-radius-primary);
    border-top-left-radius: var(--border-radius-primary);
    border:1px solid green;
}
.card-image{
position: absolute;
bottom: 0px;
left: 40%;
z-index:  1;

}
.nav-link{
    font-size: var(--font-weight-bold);
    font-size: 20px;
}

.header-links{
    vertical-align: middle;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.nav-heart {
    font-size: 100%;
   
}


.card-navbar ul{
    display: flex;
    justify-content: space-between;
   
}

.back-arrow{
    margin-left: 10px;
    padding:0;
}

.list-group-items {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}



.card-title{
    font-weight: var(--font-weight-bold);
}

*{
    color:black;
}
.title-exp{
    display: flex;
    justify-content:space-between;
    margin-top: 0;
}
.team-btn{
    margin-top: calc(var(--margin-primary)/2);
    float: left;

}

.card-pokemon {
    
    background-color:var(--color-light);
 }
 .detail-add a{
     
        font-size: 14px;
        color: var(--color-light);
        border-radius: var(--border-radius-primary);
        padding: 10px 15px;
        letter-spacing: 0.5px;
        transition: all 0.3s;
        background-color: var(--color-light);
        float: left;
    }

    
     