.body-links {
    display: flex;
    justify-content: space-between;
    
    
    
}
.nav-item a{
    color:#383434;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}
.nav-item a:visited{
text-decoration: underline;
color:var(--color-darkest)
}
.content-details{
    padding:calc(var(--padding-primary)/4) ;
    background-color: var(--color-light);
     border: 1px solid #c8c8c8;
    
}
.pokemon-sec-up{
    padding:var(--padding-primary);
    padding-bottom: 300px;
   
    height: fit-content;
    position: relative;
    border: 1px solid #c8c8c8;
}

.set-of-links{
   
    border: 1px solid #c8c8c8;
   
}
.card-image{
position: absolute;
bottom: 0px;
left: 40%;
z-index:  1;

width: 50%;
height: 75%;

    margin-top: -20rem;

}
.nav-link{
    font-size: var(--font-weight-bold);
    font-size: 20px;
}

.header-links{
    vertical-align: middle;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.nav-heart {
    font-size: 100%;
   
}


.card-navbar ul{
    display: flex;
    justify-content: space-between;
   
}

.back-arrow{
    margin-left: 10px;
    padding:0;
}

.list-group-items {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}



.card-title{
    font-weight: var(--font-weight-bold);
}

*{
    color:black;
}
.title-exp{
    display: flex;
    justify-content:space-between;
    margin-top: 0;
}
.team-btn{
    margin-top: Calc(var(--margin-primary)*2);
    float: left;

}

.card-pokemon {
    
    background-color: white;
    border-top: 2px solid black;
    padding: var(--margin-primary);
    border-radius: .5rem;
    
    margin-bottom: 3rem;
    margin-top:3rem ;
    background-repeat: no-repeat;
    
    background-position: 100%;
    box-shadow: 4px 4px 30px rgb(59, 58, 58);
    color: white;
    

    
 }
 .detail-add a{
     
        font-size: 14px;
        color: var(--color-light);
        border-radius: var(--border-radius-primary);
        padding: 10px 15px;
        letter-spacing: 0.5px;
        transition: all 0.3s;
        background-color: var(--color-light);
        float: left;
    }

    
     