.nav-items {
    display: flex;
    justify-content: space-between;
    max-height:40px;
    
}
.content-details{
    padding:calc(var(--padding-primary)/2) ;
    background-color: var(--color-light);
    border-top-right-radius: var(--border-radius-primary);
    border-top-left-radius: var(--border-radius-primary);
    margin-top: var(--margin-primary);
    
    
}





.header-links{
    vertical-align: middle;
}
.nav-heart {
    font-size: 100%;
    margin-top: -5px;
}


.card-navbar ul{
    display: flex;
    justify-content: space-between;
   
    
}

.back-arrow{
    background-color: var(--color-light);
    padding:0;
}

.list-group-items {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}



.card-title{
    font-weight: var(--font-weight-bold);
}

*{
    color:black;
}
.title-exp{
    display: flex;
    justify-content:space-between;
    margin-top: 0;
}
.team-btn{
    margin-top: calc(var(--margin-primary)/2);
    float: left;

}

.card-pokemon {
    
    background-color:var(--color-light);
 }
 .detail-add a{
     
        font-size: 14px;
        color: var(--color-light);
        border-radius: var(--border-radius-primary);
        padding: 10px 15px;
        letter-spacing: 0.5px;
        transition: all 0.3s;
        background-color: var(--color-light);
        float: left;
    }
