.section-wrapper{
    background-color: var(--color-light);
    padding:Calc(var(--padding-primary)/4) ;
    border-radius: var(--border-radius-primary);
    margin-top: Calc(var(--margin-primary)/2);
    height: 100%;
    
    
    
}