
.pokemon-list-item{
    display: grid;
    grid-template-columns: auto auto auto auto ;
    gap: 10px;
    background-color:var(--color-light);
    padding: 10px;
    color:black;
    
    
}
.pokemon-card-name{
    font-weight: var(--font-weight-bold);
}


.pokemon-card{
    position: relative;
   
  
}
.card-btn{
    margin:Calc(var(--padding-primary)/4) ;
}
.pokemon-card-wrapper{
    background-color: var(--color-light);
    border-radius: var(--border-radius-secondary);
    border: 1px solid var(--color-darkest);
    padding: calc(var(--padding-primary)/2);
    margin: calc(var(--margin-primary)/5);
   position: relative;
}

 .card-image{
   position: absolute;
   z-index: 1;
   right: 10px;
   width: 50%;
   height: 50%;
   
}
.pokemon-card-content{
    display: flex;
    justify-content :space-between;
    background-color: var(--primary-color);
}

