
.pokemon-list-item{
    background-color: white;
    border-top: 2px solid black;
    padding: 15px 15px;
    border-radius: .5rem;
    gap: 1rem;
    margin-bottom: 3rem;
    
    background-repeat: no-repeat;
    background-size:contain;
    background-position: 50%;
    box-shadow: 4px 4px 30px rgb(59, 58, 58);
    color: white;
    

    display: grid;
    grid-template-columns: auto auto  ;
    width:inline;
    
    
    
}
.pokemon-card-content h6{
  margin-left:Calc(var(--margin-primary)/2) ;

}
.pokemon-card-name{
    font-weight: var(--font-weight-bold);
}


.pokemon-card{
    position: relative;
   
  
}
.card-btn{
    margin:Calc(var(--padding-primary)/4) ;
   
}
.pokemon-card-wrapper{
    background-color: var(--color-light);
    border-radius: var(--border-radius-secondary);
    border: 1px solid var(--color-darkest);
    padding: calc(var(--padding-primary)/2);
    margin: calc(var(--margin-primary)/5);
   position: relative;
}

 .card-image{
    
    width: 50%;
    height: 75%;
    position: relative;
    left: 2%;
    margin-top: -20rem;
   
   
}
.pokemon-card-content{
    display: flex;
    justify-content :space-between;
    background-color: var(--primary-color);
}

